@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #fffafa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Використовувати 100vw замість 100dvw */
    height: 100%;
    overflow-x: hidden; /* Забороняє горизонтальний скрол */
}

html {
    overflow-x: hidden; /* Можна додати ще для html, щоб забезпечити глобальну заборону скролу */
}
